
.Suggestions {
  position: absolute;
  padding-left: 5px;
  width: 200px;
}

.App-header {
  background-color: green;
  height: 50px;
  padding-left: 10px;
  color: white;
}

.SearchBar {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  width: 300px
}

.SearchBox {
  border: 2px solid #999;
  font-size: 24px;
  text-align: left;
  width: 195px;
  height: 34px;
  padding: 5px;
}

.Button {
  border-left: 2px solid #999;
  border-right: 2px solid #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  font-size: 20px;
  text-align: left;
  width: 400px;
  height: 34px;
  padding-left: 5px;
  padding-bottom: 40px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.City {
  text-align: center;
  font-size: 30px;
}

.Results{
  margin-left: 5px;
}
