.Suggestions {
  position: absolute;
  width: 300px;
}

.App-header {
  background-color: green;
  height: 60px;
  padding-left: 20px;
  padding-top: 5px;
  color: white;
}

.SearchBox {
  border: 2px solid #999;
  font-size: 24px;
  text-align: left;
  width: 300px;
  height: 40px;
  padding: 5px;
}

.Button {
  top: -1px;
  border-top: 1px solid #999;
  border-left: 2px solid #999;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  font-size: 24px;
  text-align: left;
  height: 40px;
  padding-left: 5px;
  padding-top: 0px;
  border-radius: 0;
}

.City {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

.ResultContainer{
  padding: 5px;
}

.Results{
  margin: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scheduletype {
  text-align: left;
  font-size: 25px;
}

.TrainType {
  width: 15%;
  font-weight: normal;
}

.TrainInfoRow {
  width: 35%;
  font-weight: normal;
}

.Time {
  width: 15%;
  font-weight: normal;
}
